.container {
  border: 1px solid black;
  background-color: black;
  /* background: url("../public/bg.png") no-repeat center center; */
  background-size: cover;
  flex: 1;
  overflow: hidden;
  position: relative;
}
.container.show::after {
  content: "";
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.column {
  display: flex;
  flex: 1;
}
.right-panel {
  min-width: 30%;
  padding: 20px;
  box-sizing: border-box;
  max-width: 50%;
  overflow: auto;
  max-height: calc(100vh - 150px);
}
.bottom-panel {
  padding: 20px;
  box-sizing: border-box;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: row;
}
.bottom-panel h1 {
  margin-bottom: 10px;
}
.left-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
}
h1 {
  color: white;
}

/* CSS */
.button-1 {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-right: 20px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #f082ac;
}

.button-2 {
  background-color: #8d7981;
}
.script-container {
  display: flex;
  flex: 1;
  column-gap: 20px;
}
p {
  color: white;
}
